@import <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">


body{
    display: flex;
    flex-flow: column;

}

p {
    font-family: Monospace
}

.head {
    background-color: #dd88a4;
    padding-block-start: 0.3cm;
    padding-inline-start: 0.5cm;
    
}

.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.images {
    height: 50x;
    width: 500x;
}
/* .main {
    display: inline-block;
    text-align: center;
} */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
#footer {

    /* background-color: #dd88a4;
    bottom: 0;
    font-size: 18px;
    height: 2.5rem; 
    padding-block-end: 0.5cm;   
    margin-bottom: 0        Footer height */
  }
.main {
  
    display: flex;
    justify-content: space-between;
    margin: 30%;
    /* align-items: space-around; */
}

