

    
    <header>
        {% if user.is_authenticated %}
        <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
        <span> | </span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
        <span> | </span>
    
                
        
        <span><a href="{% url 'message_inbox' user.username %}"> New Message </a></span>
        <span><a href="{% url 'message_inbox' user.username %}"> Message </a></span>

        {{test}}
        {% else %} 
        <span><a href="{% url 'login' %}">Login</a></span>
        <span> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
        {% endif %}
        
        {% if messages %}
        <div>
            {% for message in messages %}
            <p> {{message}} </p>
            {% endfor %}
        </div>
        {% endif %}
        <a href="/posts">
            <h1>Kids 2 Kids</h1>
        </a>
        
      </header>
      <hr />
  

<body>


{% block content %}
{% endblock %}

</body>

<footer>
    All Rights Reserved, Kids 2 Kids 
</footer>