{% extends 'base.html' %}
{% load static %}
{% block content %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<style>
    body{
        background-image: url("{% static 'children.jpg' %}");     
        background-size: cover;
        background-repeat: no-repeat;  
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        
        /* color: color:#dd88a4; */
        
    }
    #content-wrap{
        display: flex;
        flex-flow: row;
        margin-top: 15%;
        
    }
    #title {
        margin-inline-start: 35%;
        margin-block-start: 10%;
        text-shadow: 3px 3px 6px white;
    }
    #first { 
        margin-top: 80px;
        margin-bottom: 30px;
        margin-inline-start: 35%;
        margin-inline-end: 35%;
        
       
    }
    #footer {
        position : absolute;
        bottom : 0;
        margin-inline-start: 45%;
        /* height : 40px;
        margin-top : 40px; */

    }
    #second {
        margin-inline-start: 35%;
        margin-inline-end: 35%;
    }


</style>


<div class = mainindex>
    <div id = title>
    <h1 style = font-size:100px;>kids 2 kids </h1>
    </div>
{% if user.is_authenticated %}
    <div id = first>
    <a href="{% url 'posts_create' %}"> 
        {% bootstrap_button "I'm here to sell" button_type="submit" button_class="btn-primary btn-block" %}
        </a>
    </div>
    <div id = second>
    <a id = second href="{% url 'post_index' %}"> 
            {% bootstrap_button "I'm here to buy" button_type="submit" button_class="btn-primary btn-block" %}
        </a>
    </div>
</div>
{% else %}
    <div id = first>
    <a href="{% url 'login' %}"> 
        {% bootstrap_button "I'm here to sell" button_type="submit" button_class="btn-primary btn-block" %}
        </a>
    </div>
    <div id = second>
    <a id = second href="{% url 'post_index' %}"> 
            {% bootstrap_button "I'm here to buy" button_type="submit" button_class="btn-primary btn-block" %}
        </a>
    </div>
</div>
{% endif %}

{% endblock %}