{% extends 'base.html' %}

{% block content %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}





    <h2>{{post.title}}</h2>
    <div>
    <p>Seller: {{post.user}}  <a href="{% url 'message_create' user.id post.user.id %}">
    message</p>
    </a>
    <p> zipcode: {{post.zipcode}} </p>
    </div>
    <p>Category:
    {% if post.cateogry == TY %}
        Toy
    {% elif post.cateogry == DP %}
        Diapers
    {% elif post.cateogry == CL %}
        Clothes
    {% elif post.cateogry == BK %}
        Books
    {% elif post.cateogry == OT %}
        Others
    {% endif %}
    </p>    


    <p>Age: {{ post.age }}</p>
   
    {% if post.img %}
        <div class= images>
            <img src="{{ post.img.url }}" class="img-responsive" style="width: 50%;" />         
        </div>
    {% endif %}
    <h4>{{post.content}}</h4>
    {% if post.user == request.user %}
        <a href="{% url 'posts_update' post.id%}"> Update Details</a>
        <a href="{% url 'posts_delete' post.id%}"> Delete</a>
    {% endif %}    

    <h4> Comments </h4>
    {% if not post.comments.all %}
        No Comments Yet...<a href="{% url 'comment_create' post.id%}">
        Add Comment </a>
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{ comment.user }} </strong>
        {{ comment.content }}
        
      
        {% if comment.user == request.user %}
            <a href="{% url 'comment_update' comment.id post.id%}"> Edit </a>
        
            <form method="POST" action="{% url 'comment_delete' comment.id post.id%}">
            {% csrf_token %}<input type="submit" value="DELETE">
            </form>
        <hr />
        {% else %}
            <a href="{% url 'message_create' user.id comment.user.id %}">
            message </a>
        <hr />
        {% endif %}
        {% endfor %}
        <hr />

        <a href="{% url 'comment_create' post.id%}">
            Add Comment </a>
    {% endif %}

{% endblock %}
