{% extends 'base.html' %}
{% block content %}
{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<style>
.show{
    margin-inline-start: 30%;
    margin-inline-end: 25%;
}
.images{
    margin-inline-start: 20%;

}
#footer {
        position : relative;
        bottom : 0;
        margin-inline-start: 45%;
    }
</style>

<div class = show>

    <p><a href="{% url 'post_index' %}"> Back to list </a></p>
    <h2>{{post.title}}</h2>
    <hr />
    {% if post.sold == True %}
    <h4>-SOLD-</h4>
    {% endif %}
    <div>
    {% if post.user == request.user%}
    <p>Seller: {{post.user}} </p>
    {% else %}
    <strong>Seller: {{post.user}} </strong>
         <a href="{% url 'message_create' user.id post.user.id %}">message </a>
    {% endif %}     
    <p> zipcode: {{post.zipcode}} </p>
    </div>
    <p>Category:
    {% if post.cateogry == TY %}
        Toy
    {% elif post.cateogry == DP %}
        Diapers
    {% elif post.cateogry == CL %}
        Clothes
    {% elif post.cateogry == BK %}
        Books
    {% elif post.cateogry == OT %}
        Others
    {% endif %}
    </p>    


    <p>Age: {{ post.age }}</p>
    <p>Condition:
        {% if post.condition == NW %}
            New
        {% elif post.cateogry == LN %}
            Like a new
        {% elif post.cateogry == GD %}
            Good
        {% elif post.cateogry == FR %}
            Fair
        {% endif %}
        </p>   

    <p>Price: ${{ post.price }}</p>
   
    {% if post.img %}
        <div class= images>
            <img src="{{ post.img.url }}" class="img-responsive" style="width: 50%;" />         
        </div>
    {% endif %}
    <h5>{{post.content}}</h5>
    {% if post.user == request.user %}
        <a href="{% url 'posts_update' post.id%}"> Edit</a>
        <a href="{% url 'posts_delete' post.id%}"> Delete</a>
    {% endif %}    
        <hr />
    <h4> Comments </h4>
    {% if not post.comments.all %}
        No Comments Yet...<a href="{% url 'comment_create' post.id%}">
        Add Comment </a>
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{ comment.user }} </strong>
        {{ comment.content }}
        
      
        {% if comment.user == request.user %}
            <a href="{% url 'comment_update' comment.id post.id%}"> Edit </a>
        
            <form method="POST" action="{% url 'comment_delete' comment.id post.id%}">
            {% csrf_token %}<input type="submit" value="DELETE">
            </form>
        <hr />
        {% else %}
            <a href="{% url 'message_create' user.id comment.user.id %}">
            message </a>
        <hr />
        {% endif %}
        {% endfor %}
     
        <a href="{% url 'comment_create' post.id%}">
            Add Comment </a>
            <hr />
    {% endif %}
</div>
{% endblock %}
