{% extends 'base.html' %}

{% block content %}



    <h2>{{post.title}}</h2>
    <div>
    <p>Seller: {{post.user}}  <a href="{% url 'message_create' user.id post.user.id %}">
    message</p>
    </a>
    </div>
    <p>Category:
    {% if post.cateogry == TY %}
        Toy
    {% elif post.cateogry == DP %}
        Diapers
    {% elif post.cateogry == CL %}
        Clothes
    {% elif post.cateogry == BK %}
        Books
    {% elif post.cateogry == OT %}
        Others
    {% endif %}
    </p>    

    <!-- {% if post.age == 3M %}
        3 months
    {% elif post.age == 6M %}
        6 months
    {% elif post.age == 9M %}
        9 months
    {% elif post.age == 1Y %}
        1 yr
    {% elif post.age == 2Y %}
        2 yr
    {% elif post.age == 3Y %}
        3 yr
    {% elif post.age == 4Y %}
        4 yr
    {% elif post.age == 5Y %}
        5 yr -->
    <!-- {% endif %} -->
    <p>Age: {{ post.age }}</p>
    <h4>{{post.content}}</h4>
    {% if post.img %}
        <img src="{{ post.img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />         

    {% endif %}
    <a href="{% url 'posts_update' post.id%}"> Update Details</a>
    <a href="{% url 'posts_delete' post.id%}"> Delete</a>


    <h2> Comments </h2>
    {% if not post.comments.all %}
    No Comments Yet...<a href="{% url 'comment_create' post.id%}">
        Add Comment </a>
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{ comment.user }} </strong>
        {{ comment.content }}
        
      
        {% if comment.user == request.user %}
        <a href="{% url 'comment_update' comment.id post.id%}"> Edit </a>
        
        <form method="POST" action="{% url 'comment_delete' comment.id post.id%}">
            {% csrf_token %}<input type="submit" value="DELETE">
         </form>
        
        {% else %}
        <a href="{% url 'message_create' user.id comment.user.id %}">
        message </a>
        <hr />
        {% endif %}
        {% endfor %}
            

        <a href="{% url 'comment_create' post.id%}">
            Add Comment </a>
    {% endif %}

{% endblock %}
